{% extends 'authenticate/register.html' %}
{% block content %}
<!--本来准备与CA交互验证，但未实现，所以选择在js中导入用户私钥，在verify中提示未导入私钥-->
<!-- Start Sign In Form -->
<!--    用于在js中调用，跳转到对应url，相当于调用views中的方法-->
<script>
    window.name = "{{name}}";
    window.pay_id = "{{pay_id}}";
    window.pay_host = "{% url 'pay' pay_id %}";
</script>
<form action="#" class="fh5co-form animate-box" data-animate-effect="fadeInRight">
    {% csrf_token %}
    <h2>身份认证</h2>
    <div class="form-group" id="prompt">
        <div class='alert alert-success' role='alert'>这是你在这台设备的第一次登陆，请输入你的私钥以完成签名认证</div>
    </div>
    <div class="form-group">
        <label for="text" class="sr-only">您的私钥</label>
        <input type="text" class="form-control" id="text" placeholder="私钥" autocomplete="off">
    </div>
    <div class="form-group" style="text-align:center;">
        <input type="submit" value="提交" class="btn btn-primary" onclick="returnpay();">
    </div>
</form>
<!-- END Sign In Form -->
{% endblock %}